<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Kirin Wang's profolio</title>
	<link rel="icon" href="template/static/WechatIMG27.jpeg">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=League+Spartan&display=swap" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="template/static/css/style.css">
</head>

<body>
	<h1><center>Kirin's Profolio</h1>
<header>
		<img src="template/static/WechatIMG27.jpeg">
	</header>

<main>

	<h2 allign="left">Education</h2>

	<p allign="left">Kirin studies at <b>the University of Warwick, Master of Science in e-Business management </b> <span style="padding-right: 284spx;"></span> during 2021.10 - 2022.11. He specializes in e-Commerce and digital analytics and modules are e-Commerce solutions, Digital enterprise entrepreneurship and financing, Data science and Machine learning, Supply chain management, Big data analysis and optimization, Python and web development, Finance and accounting fundamentals.Kirin finished his bachelor degree at Donghua University in Shanghai, China.</center></p>




	<h2 allign="left">Professional Experience</h2>
		<p>
Kirin worked at Meituan as a Product Operation Intern during 2021.02-2021.07. He was responsible for the product operation under the category of food and shopping in Hong Kong, Macau and Japan
for Meituan and Dazhongdianping APP.
<br>His work included data analysis, product strategy, online event planning, UGC operation and product iteration.

<br>
<br>He also worked at COS, H&M Group as an eCommerce Merchandiser intern during 2019.11-2020.12. He was responsible for merchandise management, product Selection, logistics management and market research.</p>

		

   	<h2 allign="left">Interesting filed</h2>
	<img src="template/static/ecommerce.png" width="260" height="160" > 
	&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp  <img src="template/static/metaverse.png" width="260" height="160">
 	&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp  <img src="template/static/fashion.png" width="260" height="160">
 	<p> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspe-Commerce &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
 	Metaverse &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspFashion-tech</p>




<h2 allign="left">About me</h2>
		<p>Embrace diversity，Creative and rational，Team-player，ENFJ Leader personality</p>

</main>
<footer>
	Follow Kirin Wang on <a href="https://www.linkedin.com/in/kirin-wang-775046184/" target="_blank">Linkedin</a>, 
	<a href="https://github.com/kirinwang1125" target="_blank">Github</a>. 
</footer>

</body>
</html>